/*Калькулятор начало*/

table{
	width: 300px;
	margin: auto;
	text-align: center;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #point, #reset, #multiply, #plsmns, #division, #minus, #plus{
	width: 60px;
	height: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 1px;
	margin-right: 1px;
	/*border: 1px outset buttonface;*/
}

#number input{
	width: 306px;
	height: 21px;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px inset grey;
	text-align: right;
}

#zero{
	width: 122px;
	height: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#equally{
	height: 54px;
	width: 60px;
	margin-top: 2px;
	margin-bottom: 2px;
	}
/*Калькулятор конец*/
