/* Начало очистки браузера*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td {
	margin:0;
	padding:0;
	/*border: none;*/
	}

img{
	border: 0px;
}
	
table {
	border-collapse:collapse;
	border-spacing:0;
	}

/* Конец очистки браузера*/

.header img{
	float: left;
	padding: 10px;
	padding-bottom: 20px;
}

/*Выпадающее меню начало*/
.menu li{
	display: inline;
	position: relative;
	list-style:none;
	}

.submenu{
	display: none;
	width: 80px;
	border: 1px solid #000;
	border-radius: 5px;
	text-align: left;
}

.main ul{
	padding-left: 45px;
}

.menu li:hover .submenu { 
   display: block;
	position: absolute;
	background-color: #fff;
	padding: 5px;
	left: 1px;
   }
/*Выпадающее меню конец*/

body {
	background-color: #888;
	display: block;
	font-family: sans-serif;
}

.header, .main, .footer{
	background-color: #fff;
	border-radius: 10px;
	width: 800px;
	padding: 5px;
	margin: auto;
	/*behavior: url(border-radius.htc);*/
}

.main{
	text-align: justify;
}

.aside{
	background-color: #888;
	width: 30%;
	float: right;
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	font-size: 0.9em;
}

h1{
	padding: 1.6em;
}

h2{
	margin-bottom: 0.7em;
}

h3{
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

.aside h2{
	font-size: 1.1em;
}

.main dd{
	padding-left: 45px;
}

#test input{
	margin-left: 5px;	
}

/*Калькулятор начало*/

table{
	width: 300px;
	margin: auto;
	text-align: center;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #point, #reset, #multiply, #plsmns, #division, #minus, #plus{
	width: 60px;
	height: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 1px;
	margin-right: 1px;
}

#number input{
	width: 306px;
	height: 21px;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px inset grey;
}

#zero{
	width: 122px;
	height: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#equally{
	height: 54px;
	width: 60px;
	margin-top: 2px;
	margin-bottom: 2px;
	}
/*Калькулятор конец*/

footer{
	text-align: center;
}